.CardFrontContainer {
  /* border-bottom: 5px solid #FFF; */
  padding: 30px 0;

  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.CardFrontContainer-preview {
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.CardFrontContainer-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .CardFrontContainer {
    height: 100%;
    padding: 0;
  }

  .CardFrontContainer-preview {
    height: 100%;
    margin: 0;
  }

  .CardFrontContainer-actions {
    height: 100%;
  }
}
