.CardFrontContainer {
  /* border-bottom: 5px solid #FFF; */
  padding: 30px 0;


  background-color: #FCAF58;
}

.CardFrontContainer-preview {
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.CardFrontContainer-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .CardFrontContainer {
    height: 100%;
    padding: 0;
  }

  .CardFrontContainer-preview {
    height: 100%;
    margin: 0;
  }

  .CardFrontContainer-actions {
    height: 100%;
  }
}
